@{
    var AdminUser = (DbOpertion.Models.AUser)ViewBag.User;
    if (AdminUser == null)
    {
        AdminUser = new DbOpertion.Models.AUser();
    }
    
}
<!DOCTYPE html>
<html>

<head>
    <title>古早日月村</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/favicon.ico">
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/alert.css" />
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/themes/flat-blue.css">
    @RenderSection("css", required: false)
    <!-- Javascript Libs -->
    <script type="text/javascript" src="~/Content/lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/Chart.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/DataTable.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/select2.full.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/ace/ace.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/ace/mode-html.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/ace/theme-github.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/alert.js"></script>
    <!-- Javascript -->
    <script type="text/javascript" src="~/Content/js/ajax.js"></script>
    <script type="text/javascript" src="~/Content/js/app.js"></script>
    
    @RenderSection("js", required: false)
</head>

<body class="flat-blue">
    <div class="app-container">
        <div class="row content-container">
            <nav class="navbar navbar-fixed-top navbar-top navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-expand-toggle">
                            <i class="fa fa-bars icon"></i>
                        </button>
                        <ol class="breadcrumb navbar-breadcrumb">
                            @RenderSection("TitleName", required: true)
                        </ol>
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-th icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-times icon"></i>
                        </button>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-comments-o"></i></a>
                            <ul class="dropdown-menu animated fadeInDown">
                                <li class="title">
                                    Notification <span class="badge pull-right">0</span>
                                </li>
                                <li class="message">
                                    No new notification
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown danger">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-star-half-o"></i> 4</a>
                            <ul class="dropdown-menu danger  animated fadeInDown">
                                <li class="title">
                                    Notification <span class="badge pull-right">4</span>
                                </li>
                                <li>
                                    <ul class="list-group notifications">
                                        <a href="#">
                                            <li class="list-group-item">
                                                <span class="badge">1</span> <i class="fa fa-exclamation-circle icon"></i>                                                new registration
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li class="list-group-item">
                                                <span class="badge success">1</span> <i class="fa fa-check icon"></i> new
                                                orders
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li class="list-group-item">
                                                <span class="badge danger">2</span> <i class="fa fa-comments icon"></i> customers
                                                messages
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li class="list-group-item message">
                                                view all
                                            </li>
                                        </a>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown profile">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Emily Hart <span class="caret"></span></a>
                            <ul class="dropdown-menu animated fadeInDown">
                                <li class="profile-img">
                                    <img src="~/Content/img/profile/picjumbo.com_HNCK4153_resize.jpg" class="profile-img">
                                </li>
                                <li>
                                    <div class="profile-info">
                                        <h4 class="username">@AdminUser.UserNickName</h4>
                                        <p>@AdminUser.UserEmail</p>
                                        <div class="btn-group margin-bottom-2x" role="group">
                                            <button type="button" class="btn btn-default"><i class="fa fa-user"></i> Profile</button>
                                            <button type="button" class="btn btn-default"><i class="fa fa-sign-out"></i><a href="../Login/Index">登出</a> </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="side-menu sidebar-inverse">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="side-menu-container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                                <div class="icon fa fa-paper-plane"></div>
                                <div class="title">古早日月村</div>
                            </a>
                            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                        </div>
                        @RenderSection("left_part", required: false)
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body padding-top">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>

</html>